<% include ../partials/head %>

  <div class="jumbotron">
    <h1 class="display-3">Menu</h1>
    <p class="lead">เลือกตัวเลือก</p>
    <hr class="my-2">
    
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="student" role="button">Students</a>
       <a class="btn btn-primary btn-lg" href="subjects" role="button">Subjects</a>
    </p>
  </div>


<% include ../partials/footer %>